ProgettoAP/Connected Services/ServiceReference/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBService_Connessione_InputMessage">
    <wsdl:part name="parameters" element="tns:Connessione" />
  </wsdl:message>
  <wsdl:message name="IDBService_Connessione_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnessioneResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDBService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:InfoUtente" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfoUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoCeo_InputMessage">
    <wsdl:part name="parameters" element="tns:InfoCeo" />
  </wsdl:message>
  <wsdl:message name="IDBService_InfoCeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InfoCeoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetNomiOrganizzazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNomiOrganizzazioni" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetNomiOrganizzazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNomiOrganizzazioniResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_Registrazione_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrazione" />
  </wsdl:message>
  <wsdl:message name="IDBService_Registrazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_EventiDisponibili_InputMessage">
    <wsdl:part name="parameters" element="tns:EventiDisponibili" />
  </wsdl:message>
  <wsdl:message name="IDBService_EventiDisponibili_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventiDisponibiliResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetOrganizzazioneFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizzazioneFromId" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetOrganizzazioneFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizzazioneFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetBigliettoFromIdEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBigliettoFromIdEvento" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetBigliettoFromIdEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBigliettoFromIdEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_AcquistaBiglietto_InputMessage">
    <wsdl:part name="parameters" element="tns:AcquistaBiglietto" />
  </wsdl:message>
  <wsdl:message name="IDBService_AcquistaBiglietto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcquistaBigliettoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_EventiFromCeo_InputMessage">
    <wsdl:part name="parameters" element="tns:EventiFromCeo" />
  </wsdl:message>
  <wsdl:message name="IDBService_EventiFromCeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EventiFromCeoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_UtentiAquirenti_InputMessage">
    <wsdl:part name="parameters" element="tns:UtentiAquirenti" />
  </wsdl:message>
  <wsdl:message name="IDBService_UtentiAquirenti_OutputMessage">
    <wsdl:part name="parameters" element="tns:UtentiAquirentiResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_CeoFromEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:CeoFromEvento" />
  </wsdl:message>
  <wsdl:message name="IDBService_CeoFromEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CeoFromEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_AggiungiEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiEvento" />
  </wsdl:message>
  <wsdl:message name="IDBService_AggiungiEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_ModificaUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaUtente" />
  </wsdl:message>
  <wsdl:message name="IDBService_ModificaUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_ModificaCeo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaCeo" />
  </wsdl:message>
  <wsdl:message name="IDBService_ModificaCeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaCeoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBService">
    <wsdl:operation name="Connessione">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/Connessione" message="tns:IDBService_Connessione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/ConnessioneResponse" message="tns:IDBService_Connessione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/Login" message="tns:IDBService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/LoginResponse" message="tns:IDBService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfoUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/InfoUtente" message="tns:IDBService_InfoUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/InfoUtenteResponse" message="tns:IDBService_InfoUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InfoCeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/InfoCeo" message="tns:IDBService_InfoCeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/InfoCeoResponse" message="tns:IDBService_InfoCeo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNomiOrganizzazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetNomiOrganizzazioni" message="tns:IDBService_GetNomiOrganizzazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetNomiOrganizzazioniResponse" message="tns:IDBService_GetNomiOrganizzazioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/Registrazione" message="tns:IDBService_Registrazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/RegistrazioneResponse" message="tns:IDBService_Registrazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventiDisponibili">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/EventiDisponibili" message="tns:IDBService_EventiDisponibili_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/EventiDisponibiliResponse" message="tns:IDBService_EventiDisponibili_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizzazioneFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetOrganizzazioneFromId" message="tns:IDBService_GetOrganizzazioneFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetOrganizzazioneFromIdResponse" message="tns:IDBService_GetOrganizzazioneFromId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBigliettoFromIdEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetBigliettoFromIdEvento" message="tns:IDBService_GetBigliettoFromIdEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetBigliettoFromIdEventoResponse" message="tns:IDBService_GetBigliettoFromIdEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcquistaBiglietto">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/AcquistaBiglietto" message="tns:IDBService_AcquistaBiglietto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/AcquistaBigliettoResponse" message="tns:IDBService_AcquistaBiglietto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EventiFromCeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/EventiFromCeo" message="tns:IDBService_EventiFromCeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/EventiFromCeoResponse" message="tns:IDBService_EventiFromCeo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UtentiAquirenti">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/UtentiAquirenti" message="tns:IDBService_UtentiAquirenti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/UtentiAquirentiResponse" message="tns:IDBService_UtentiAquirenti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CeoFromEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/CeoFromEvento" message="tns:IDBService_CeoFromEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/CeoFromEventoResponse" message="tns:IDBService_CeoFromEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/AggiungiEvento" message="tns:IDBService_AggiungiEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/AggiungiEventoResponse" message="tns:IDBService_AggiungiEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/ModificaUtente" message="tns:IDBService_ModificaUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/ModificaUtenteResponse" message="tns:IDBService_ModificaUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaCeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/ModificaCeo" message="tns:IDBService_ModificaCeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/ModificaCeoResponse" message="tns:IDBService_ModificaCeo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBService" type="tns:IDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connessione">
      <soap:operation soapAction="http://tempuri.org/IDBService/Connessione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDBService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoUtente">
      <soap:operation soapAction="http://tempuri.org/IDBService/InfoUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoCeo">
      <soap:operation soapAction="http://tempuri.org/IDBService/InfoCeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNomiOrganizzazioni">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetNomiOrganizzazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrazione">
      <soap:operation soapAction="http://tempuri.org/IDBService/Registrazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventiDisponibili">
      <soap:operation soapAction="http://tempuri.org/IDBService/EventiDisponibili" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizzazioneFromId">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetOrganizzazioneFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBigliettoFromIdEvento">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetBigliettoFromIdEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcquistaBiglietto">
      <soap:operation soapAction="http://tempuri.org/IDBService/AcquistaBiglietto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventiFromCeo">
      <soap:operation soapAction="http://tempuri.org/IDBService/EventiFromCeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UtentiAquirenti">
      <soap:operation soapAction="http://tempuri.org/IDBService/UtentiAquirenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CeoFromEvento">
      <soap:operation soapAction="http://tempuri.org/IDBService/CeoFromEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiEvento">
      <soap:operation soapAction="http://tempuri.org/IDBService/AggiungiEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaUtente">
      <soap:operation soapAction="http://tempuri.org/IDBService/ModificaUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaCeo">
      <soap:operation soapAction="http://tempuri.org/IDBService/ModificaCeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="BasicHttpBinding_IDBService" binding="tns:BasicHttpBinding_IDBService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/DBService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>