ProgettoAP/Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/DBService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
  <xs:element name="Connessione">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnessioneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizzatore" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="InfoUtenteResult" nillable="true" type="q1:UtenteS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoCeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoCeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="InfoCeoResult" nillable="true" type="q2:Ceo_organizzazioniS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomiOrganizzazioni">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNomiOrganizzazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNomiOrganizzazioniResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOrganizzatore" type="xs:boolean" />
        <xs:element minOccurs="0" name="nomeOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventiDisponibili">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventiDisponibiliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="EventiDisponibiliResult" nillable="true" type="q3:ArrayOfEventoS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizzazioneFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizzazioneFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetOrganizzazioneFromIdResult" nillable="true" type="q4:OrganizzazioneS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBigliettoFromIdEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBigliettoFromIdEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="GetBigliettoFromIdEventoResult" nillable="true" type="q5:BigliettoS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquistaBiglietto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBig" type="xs:int" />
        <xs:element minOccurs="0" name="idUtente" type="xs:int" />
        <xs:element minOccurs="0" name="isPremium" type="xs:boolean" />
        <xs:element minOccurs="0" name="idEvento" type="xs:int" />
        <xs:element minOccurs="0" name="numBig" type="xs:int" />
        <xs:element minOccurs="0" name="isCeo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquistaBigliettoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcquistaBigliettoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventiFromCeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codOrg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventiFromCeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="EventiFromCeoResult" nillable="true" type="q6:ArrayOfEventoS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtentiAquirenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEvento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UtentiAquirentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="UtentiAquirentiResult" nillable="true" type="q7:ArrayOfUtenteS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genere" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="luogo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPosti" type="xs:int" />
        <xs:element minOccurs="0" name="codOrg" type="xs:int" />
        <xs:element minOccurs="0" name="costo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiEventoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaCeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaCeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaCeoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>