ProgettoAP/Connected Services/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtenteS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtenteS" nillable="true" type="tns:UtenteS" />
  <xs:complexType name="Ceo_organizzazioniS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodOrganizzazione" type="xs:int" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ceo_organizzazioniS" nillable="true" type="tns:Ceo_organizzazioniS" />
  <xs:complexType name="ArrayOfEventoS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventoS" nillable="true" type="tns:EventoS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventoS" nillable="true" type="tns:ArrayOfEventoS" />
  <xs:complexType name="EventoS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodOrg" type="xs:int" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Luogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NPosti" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventoS" nillable="true" type="tns:EventoS" />
  <xs:complexType name="OrganizzazioneS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PIva" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizzazioneS" nillable="true" type="tns:OrganizzazioneS" />
  <xs:complexType name="BigliettoS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodEvento" type="xs:int" />
      <xs:element minOccurs="0" name="Costo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BigliettoS" nillable="true" type="tns:BigliettoS" />
  <xs:complexType name="ArrayOfUtenteS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtenteS" nillable="true" type="tns:UtenteS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtenteS" nillable="true" type="tns:ArrayOfUtenteS" />
  <xs:complexType name="ArrayOfCeo_organizzazioniS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ceo_organizzazioniS" nillable="true" type="tns:Ceo_organizzazioniS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCeo_organizzazioniS" nillable="true" type="tns:ArrayOfCeo_organizzazioniS" />
</xs:schema>